---
import Card from "../../components/contentparts/card.astro";
import MySiteLayout from "../../layouts/nosidebarLayout.astro";
import Grid from "../../components/layout/grid.astro";

const cards = [
  {
    icon: "building",
    title: "Facilities",
    description: "Space and facilities",
  },
  {
    icon: "computer",
    title: "Technology Services",
    description: "IT user support and data analytics",
  },
  {
    icon: "finance",
    title: "Budget & Finance",
    description: "Budget, ETF, Workday",
  },
  {
    icon: "academic",
    title: "Faculty & Staff",
    description: "Who's who, Committees, HR Resources",
  },
];
---

<MySiteLayout title="SEAS INTRANET HOME">
  <div class="container max-w-6xl mx-auto py-12">
    <Grid cards={cards} />
  </div>
</MySiteLayout>
