---
const { headertitle } = Astro.props;
import SearchBar from "../search/searchbar.astro";
---

<section class="px-2 py-14 bg-gray-200">
  <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
    <SearchBar />
  </div>
</section>
