---
import SiteLayout from "./siteLayout.astro";
import LeftNav from "../components/nav/leftnav.astro";
import PageNav from "../components/nav/onthispagesidebar.astro";
const { frontmatter, headings } = Astro.props;
const theseHeadings = headings;
---

<!-- build a 3 column layout template in Tailwind AstroJS with a slot for content pages. -->
<SiteLayout>
  <div class="flex">
    <aside class="flex justify-end w-1/4 bg-slate-100/50 p-6">
      <LeftNav />
    </aside>
    <main
      class="w-1/2 p-4 prose prose-slate prose-base prose-a:text-blue-600 max-w-none"
    >
      <!-- Main Content Here -->
      <h1>{frontmatter.title}</h1>
      <slot />
    </main>
    <aside class="w-1/4 bg-slate-100/50 py-4">
      <!-- Right Sidebar Content Here -->
      <PageNav pageHeadings={theseHeadings} />
    </aside>
  </div>
</SiteLayout>
