---
---

<!-- Left Sidebar Content Here -->
<nav id="nav" class="ml-10">
  <ul>
    <li class="mt-2 lg:mt-2">
      <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900">Finances</h5><ul
        class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800"
      >
        <li data-active="true">
          <a
            class="block border-l pl-4 -ml-px text-orange-500 border-current font-semibold"
            href="/docs/installation">Finances home</a
          >
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900"
            href="/docs/editor-setup">Workday tips and tricks</a
          >
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900"
            href="/docs/using-with-preprocessors">Budget reports</a
          >
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900"
            href="/docs/optimizing-for-production">Optimizing for Production</a
          >
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900"
            href="/docs/browser-support">Browser Support</a
          >
        </li><li>
          <a
            class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 text-slate-700 hover:text-slate-900"
            href="/docs/upgrade-guide">Upgrade Guide</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
