---
import logo from "../../images/eng_logo.png";
import Nav from "../nav/nav.astro";
---

<section
  class="w-full px-4 py-4 bg-blue-900 text-lg md:py-0 drop-shadow-xl border-t-1 border-orange-600"
>
  <header
    class="flex flex-row items-center justify-between max-w-screen-xl mx-auto"
  >
    <div id="logo">
      <a href="#"><img src={logo} alt="UVA Engineering Logo" width="250" /></a>
    </div>
    <Nav />
  </header>
</section>
